/* imports */
/* VARIABLES */
/* colores */
/* MIX IN */
/* letra logo */
/* letra info */
/* letra dover */
/* letra publicidad */
/* cero margin/padding */
/* centrado */
/* flex */
/* MOBILE */
/* navbar */
.navbar {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  transition: 0.4s;
  top: 0;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar .container-fluid {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.navbar .container-fluid .navbarMobile .navbar-brand {
  text-decoration: none;
  font-family: "Alegreya SC", serif;
  font-style: normal;
  font-weight: 800;
  color: #931F1D;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  border-right: 0.05rem solid #070707;
  transition: 0.4s;
}
.navbar .container-fluid .navbarMobile .navbar-brand:hover {
  color: #530907;
}
.navbar .container-fluid .navbarMobile .navbar-brand img {
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.navbar .container-fluid .navbarMobile .navbar-toggler {
  color: #070707;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}
.navbar .container-fluid .navbar-collapse {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
}
.navbar .container-fluid .navbar-collapse .navbar-nav {
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #2A4D14;
  width: 100%;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-toggler {
  text-decoration: none;
  color: #2A4D14;
  text-align: center;
  margin: 0;
  padding: 0.25rem;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #2A4D14;
  text-align: center;
  margin: 0;
  padding: 0.25rem;
  transition: 0.3s all;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #2A4D14;
  color: #FFFFFF;
  transition: 0.3s all;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  margin: 0;
  padding: 0.25rem;
  text-transform: none;
  font-size: 1rem;
  color: #2A4D14;
  text-align: center;
  transition: 0.3s all;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
  background-color: #2A4D14;
  color: #FFFFFF;
  transition: 0.3s all;
}
.navbar .container-fluid .navbar-collapse .navbar-nav #li1 {
  border-top: 1px solid #2A4D14;
}

/* section carousel */
.indexCarousel {
  width: 100%;
  margin: 0;
  padding: 0;
}
.indexCarousel .carousel .carousel-inner div img {
  width: 100%;
  height: 6rem;
}

/* section links */
.indexLinks {
  width: 100%;
  background-color: #FFFFFF;
}
.indexLinks .contenedorLinks {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexLinks .contenedorLinks a {
  margin: 0;
  padding: 0;
  padding: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #2A4D14;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #2A4D14;
  width: 100%;
  transition: 0.3s all;
}
.indexLinks .contenedorLinks a:hover {
  background-color: #2A4D14;
  color: #FFFFFF;
  transition: 0.3s all;
}
.indexLinks .contenedorLinks .link1 {
  border-top: 1px solid #2A4D14;
}

/* section atencion */
.indexAtencion {
  width: 100%;
  height: 10rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexAtencion h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding: 2rem;
}

/* section  publicidades*/
.indexPublicidades .publicidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexPublicidades .publicidades .publiIndividual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
}
.indexPublicidades .publicidades .publiIndividual div {
  width: 50%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
.indexPublicidades .publicidades .publiIndividual div h5 {
  color: #2A4D14;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 0.5rem;
}
.indexPublicidades .publicidades .publiIndividual div p {
  color: #EE7B30;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: right;
  margin: 0;
  padding: 0.5rem;
}
.indexPublicidades .publicidades .publiIndividual div .h5Left {
  text-align: left;
  margin: 0;
  padding: 0.5rem;
}
.indexPublicidades .publicidades .publiIndividual div .pLeft {
  text-align: left;
  margin: 0;
  padding: 0.5rem;
}
.indexPublicidades .publicidades .publiIndividual img {
  width: 50%;
  height: 33%;
}

/* section medios de pago */
.indexMediosPago {
  width: 100%;
  height: 15rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexMediosPago .h3MediosPago h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding: 2rem;
}
.indexMediosPago .divMediosPago {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding: 0rem 2rem;
}
.indexMediosPago .divMediosPago div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
.indexMediosPago .divMediosPago div i {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem;
}
.indexMediosPago .divMediosPago div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
  padding: 0 0.25rem;
}

/* section publicidades varias */
.indexPubli__varias {
  margin: 0;
  padding: 0;
  width: 100%;
}
.indexPubli__varias .publicidadesVarias {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexPubli__varias .publicidadesVarias div {
  margin: 0;
  padding: 0;
  margin: 1rem 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10em;
}
.indexPubli__varias .publicidadesVarias div img {
  margin: 0;
  padding: 0;
  height: 7rem;
  width: auto;
  padding: 0 0.5rem;
}
.indexPubli__varias .publicidadesVarias div p {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  padding: 0 0.5rem;
}
.indexPubli__varias .publicidadesVarias .publiIzq {
  color: #2A4D14;
}
.indexPubli__varias .publicidadesVarias .publiDcha {
  color: #EE7B30;
}

/* section servicios */
.indexServicios .servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5rem;
  background-color: #2A4D14;
}
.indexServicios .servicios p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}

/* ubicacion */
.indexUbicacion .ubicacion {
  margin: 0;
  padding: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexUbicacion .ubicacion p {
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  color: #FFFFFF;
}
.indexUbicacion .ubicacion a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.indexUbicacion .ubicacion a img {
  width: 100%;
  height: auto;
}
.indexUbicacion .ubicacion a p {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  color: #FFFFFF;
  text-align: center;
}

/* footer */
.footer .divFooter {
  margin: 0;
  padding: 0;
  padding: 1rem;
  background-color: #FFFFFF;
}
.footer .divFooter p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 0.8rem;
  border-bottom: 1px solid #2A4D14;
}
.footer .divFooter .horarios {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
  border-bottom: 1px solid #2A4D14;
}
.footer .divFooter .horarios p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.15rem 0;
  border: none;
}
.footer .divFooter .horarios p i {
  font-size: 0.9rem;
}
.footer .divFooter .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #2A4D14;
}
.footer .divFooter .contacto div {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
}
.footer .divFooter .contacto div a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.15rem 0;
  border: none;
  text-decoration: none;
}
.footer .divFooter .contacto div a:hover {
  color: #2A4D14;
}
.footer .divFooter .contacto div a i {
  font-size: 0.9rem;
  padding-right: 0.25rem;
}
.footer .divFooter .contacto .contactoTelefonos {
  border-bottom: 1px solid #2A4D14;
}
.footer #divFooter2 {
  padding-top: 0;
}

/* TABLET */
@media (min-width: 600px) {
  /* navbar */
  .navbar .container-fluid .navbarMobile .navbar-brand {
    font-size: 3rem;
  }
  .navbar .container-fluid .navbarMobile .navbar-brand img {
    width: 80px;
    height: 80px;
  }
  .navbar .container-fluid .navbarMobile .navbar-toggler {
    font-size: 2rem;
  }
  /* section carousel */
  .indexCarousel .carousel .carousel-inner div img {
    height: 13rem;
  }
  /* section links */
  .indexLinks .carouselLinks a {
    font-size: 1.1rem;
  }
  /* section atencion */
  .indexAtencion h3 {
    font-size: 1.4rem;
  }
  /* section publicidades */
  .indexPublicidades .publicidades .publiIndividual div h5 {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .indexPublicidades .publicidades .publiIndividual div p {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .indexPublicidades .publicidades .publiIndividual div .h5Left {
    padding: 1rem;
  }
  .indexPublicidades .publicidades .publiIndividual div .pLeft {
    padding: 1rem;
  }
  /* section medios de pago */
  .indexMediosPago .h3MediosPago h3 {
    font-size: 1.5rem;
  }
  .indexMediosPago .divMediosPago div i {
    font-size: 1.8rem;
  }
  .indexMediosPago .divMediosPago div p {
    font-size: 1rem;
  }
  /* section publicidades varias */
  .indexPubli__varias .publicidadesVarias div img {
    padding: 0 1.5rem;
  }
  .indexPubli__varias .publicidadesVarias div p {
    font-size: 1.3rem;
    padding: 0 3rem;
  }
  /* section servicios */
  .indexServicios .servicios p {
    font-size: 1.3rem;
  }
  /* ubicacion */
  .indexUbicacion .ubicacion p {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  .indexUbicacion .ubicacion a p {
    font-size: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
  }
  /* footer */
  .footer .divFooter p {
    font-size: 0.95rem;
  }
  .footer .divFooter .horarios p {
    font-size: 0.95rem;
  }
  .footer .divFooter .horarios p i {
    font-size: 1rem;
  }
  .footer .divFooter .contacto div a {
    font-size: 0.95rem;
  }
  .footer .divFooter .contacto div a i {
    font-size: 1rem;
  }
}
/* DESKTOP */
/* generales */
#inicio {
  background-color: #931F1D;
}/*# sourceMappingURL=estilo.css.map */