/* MOBILE */

/* NAVBAR */
.navbar{
    @include cero;
    padding-top: 0.5rem;
    transition: 0.4s;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .container-fluid{
        @include cero;
        background-color: $blanco;
        @include flex;
        justify-content: space-around;
        .navbarMobile{
            .navbar-brand{
                text-decoration: none;
                @include letraLogo;
                color: $rojo;
                font-size: 1.4rem;
                margin: 0;
                padding-right: 1rem;
                border-right: 0.05rem solid $oscuro;
                transition: 0.4s;
                &:hover{
                    color: $bordo;
                }
                img{
                    width: 50px;
                    height: 50px;
                    transition: 0.4s;
                }
            }
            .navbar-toggler{
                color: $oscuro;
                margin-left: 1rem;
            }
        }
        .navbar-collapse{
            @include letraInfo;
            font-size: 1rem;
            .navbar-nav{
                @include cero;
                padding-bottom: 0.25rem;
                @include flex;
                flex-direction: column;
                transition: 0.4s;
                .nav-item{ 
                    @include cero;
                    border-bottom: 1px solid $verde;
                    width: 100%;
                    .dropdown-toggle{
                        text-decoration: none; 
                        color: $verde; 
                        text-align: center;
                        margin: 0;
                        padding: 0.25rem;
                    }
                    .nav-link{
                        color: $verde; 
                        text-align: center;
                        margin: 0;
                        padding: 0.25rem;
                        transition: 0.3s all;
                        &:hover{
                            background-color: $verde;
                            color: $blanco;
                            transition: 0.3s all;
                        }
                    }
                    .dropdown-menu{
                        @include cero;
                        border: none;
                        li{
                            .dropdown-item{
                                margin: 0;
                                padding: 0.25rem;
                                text-transform: none;
                                font-size: 0.9rem;
                                color: $verde;
                                text-align: center;
                                transition: 0.3s all;
                                &:hover{
                                    background-color: $verde;
                                    color: $blanco;
                                    transition: 0.3s all;
                                }
                            }
                        }
                    }
                    
                }
                #li1{
                    border-top: 1px solid $verde;
                }
            }
        }
    }
        
}

/* section carousel */
.indexCarousel{
    width: 100%;
    @include cero;
    .carousel{
        .carousel-inner{
            div{
                img{
                    width: 100%;
                    height: 6rem;
                }
            }
        }
    }
}

/* section links */
.indexLinks{
    width: 100%;
    background-color: $blanco;
    .contenedorLinks{
        height: 100%;
        @include cero;
        padding: 0.5rem 0;
        @include flex;
        flex-direction: column;
        a{
            @include cero;
            padding: 0.5rem 0;
            @include letraInfo;
            color: $verde;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            border-bottom: 1px solid $verde;
            width: 100%;
            transition: 0.3s all;
            &:hover{
                background-color: $verde;
                color: $blanco;
                transition: 0.3s all;
            }
        }
        .link1{
            border-top: 1px solid $verde;
        }
    }
}

/* section atencion */
.indexAtencion{
    width: 100%;
    height: 10rem;
    @include cero;
    @include flex;
    h3{
        @include letraDover;
        font-size: 1.2rem;
        color: $blanco;
        text-align: center;
        font-weight: 700;
        @include cero;
        padding: 2rem;
    }
}

/* section  publicidades*/
.indexPublicidades{
    .publicidades{
        @include flex;
        flex-direction: column;
        .publiIndividual{
            @include flex;
            flex-direction: row;
            background-color: $blanco;
            div{
                width: 50%;
                height: 33%;
                @include flex;
                flex-direction: column;
                align-items: flex-end;
                h5{
                    color: $verde;
                    @include letraPublicidad;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: right;
                    margin: 0;
                    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
                }
                p{
                    color: $amarillo;
                    @include letraPublicidad;
                    font-size: 0.9rem;
                    font-weight: 500;
                    text-align: right;
                    margin: 0;
                    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
                }
                .h5Left{
                    text-align: left;
                    margin: 0;
                    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
                }
                .pLeft{
                    text-align: left;
                    margin: 0;
                    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
                }
            }
            img{
                width: 50%;
                height: 33%;
            }   
        }
    }
}

/* section medios de pago */
.indexMediosPago{
    width: 100%;
    height: 15rem;
    @include cero;
    @include flex;
    flex-direction: column;
    .h3MediosPago{
        h3{
            @include letraDover;
            font-size: 1.2rem;
            color: $blanco;
            text-align: center;
            font-weight: 700;
            @include cero;
            padding: 2rem;
        }
    }
    .divMediosPago{
        @include flex;
        flex-direction: row;
        align-items: flex-start;
        @include cero;
        padding: 0rem 2rem;
        div{
            @include flex;
            flex-direction: column;
            width: 33%;
            i{
                font-size: 1.5rem;
                color: $blanco;
                text-align: center;
                padding: 0.5rem;
            }
            p{
                @include letraDover;
                font-size: 0.8rem;
                color: $blanco;
                text-align: center;
                @include cero;
                padding: 0 0.25rem;
            }
        }
    }
}

/* section publicidades varias */
.indexPubli__varias{
    @include cero;
    width: 100%;
    .publicidadesVarias{
        @include cero;
        @include flex;
        flex-direction: column;
        div{
            @include cero;
            margin: 1rem 0;
            background-color: $blanco;
            @include flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 10em;
            img{
                @include cero;
                height: 7rem;
                width: auto;
                padding: 0 0.5rem;
            }
            p{
                @include cero;
                @include letraPublicidad;
                font-size: 1rem;
                text-align: left;
                font-weight: 600;
                padding: 0 0.5rem;
            }
        }
        .publiIzq{
            color: $verde;
        }
        .publiDcha{
            color: $amarillo;
        }
    }
}

/* section servicios */
.indexServicios{
    .servicios{
        @include flex;
        @include cero;
        width: 100%;
        height: 5rem;
        background-color: $verde;
        p{
            @include cero;
            @include letraDover;
            color: $blanco;
            font-size: 1rem;
            text-align: center;
            font-weight: 700;
        }
    }
}

/* ubicacion */
.indexUbicacion{
    .ubicacion{
        @include cero;
        padding: 1rem 0;
        @include flex;
        flex-direction: column;
        p{
            @include cero;
            padding-bottom: 0.25rem;
            @include letraInfo;
            font-size: 0.8rem;
            color: $blanco;
        }
        a{
            text-decoration: none;
            @include flex;
            flex-direction: column;
            img{
                width: 100%;
                height: auto;
            }
            p{
                @include cero;
                padding-top: 0.5rem;
                @include letraInfo;
                font-size: 0.8rem;
                color: $blanco;
                text-align: center;
            }
        }
    }
}

/* footer */
.footer{
    .divFooter{
        @include cero;
        padding: 1rem;
        background-color: $blanco;
        p{
            text-align: center;
            @include cero;
            @include letraInfo;
            color: $oscuro;
            font-size: 0.8rem;
            font-weight: 800;
            border-bottom: 1px solid $verde;
        }
        .horarios{
            @include cero;
            padding-top: 0.5rem;
            border-bottom: 1px solid $verde;
            p{
                @include cero;
                @include letraInfo;
                color: $oscuro;
                font-size: 0.8rem;
                text-align: center;
                font-weight: 600;
                padding: 0.15rem 0;
                border: none;
            }
        }
        .contacto{
            @include flex;
            flex-direction: column;
            border-bottom: 1px solid $verde;
            div{
                @include cero;
                padding-top: 0.5rem;
                a{
                    @include flex;
                    @include cero;
                    @include letraInfo;
                    color: $oscuro;
                    font-size: 0.8rem;
                    text-align: center;
                    font-weight: 600;
                    padding: 0.15rem 0;
                    border: none;
                    text-decoration: none;
                    &:hover{
                        color: $verde;
                    }
                    i{
                        padding-right: 0.25rem;
                    }
                }
            }
            .contactoTelefonos{
                border-bottom: 1px solid $verde;
            }
        }
    }
    #divFooter2{
        padding-top: 0;
    }
}